{% extends 'app/base/base.html' %}
{% load static %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'app/base/css/base.css' %}">

{% endblock %}
{% block header %}
 <header></header>

 {% endblock %}


{% block footer %}
    <footer >
        <a href="{% url 'axf:home' %}"class='home' >
            <dl>
                <dt>
                    <span></span>
                </dt>
            </dl>
            <dd>首页</dd>
        </a>
        <a href="{% url 'axf:market' %}"class="market">
            <dl>
                <dt>
                    <span></span>
                </dt>
            </dl>
            <dd>快购</dd>
        </a>
        <a href="{% url 'axf:cart' %}" class="cart">
            <dl>
                <dt>
                    <span></span>
                </dt>
            </dl>
            <dd>购物车</dd>
        </a>
        <a href="{% url 'axf:mine' %}" class="mine">
            <dl>
                <dt>
                    <span></span>
                </dt>
            </dl>
            <dd>我的</dd>
        </a>
    </footer>
{% endblock %}